[flake8]
exclude =
    .flake8,
    .gitignore,
    node_modules,
    bower_components,
    rikleimt/config.py,
    rikleimt/static/styles/main.css.map,
    rikleimt/static/styles/main.css,
    rikleimt/static/scripts/main.js.map,
    rikleimt/static/scripts/main.js,
    rikleimt/static/scripts/jquery.js.map,
    rikleimt/static/scripts/jquery.js,
    rikleimt/__init__.pyc,
    rikleimt/application.pyc,
    rikleimt/assets.pyc,
    rikleimt/blueprints/__init__.pyc,
    rikleimt/blueprints/api/__init__.pyc,
    rikleimt/blueprints/api/views.pyc,
    rikleimt/config.pyc,
    rikleimt/models.pyc,
    rikleimt/views.pyc
max-line-length = 120
