{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block extraCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/wow_book/wow_book.css' ) }}" />
{% endblock %}

{% block bodyclasses %}is-book is-main-story{% endblock %}

{% block content %}
  <section class="book">
    <div class="content">
      <div>This is the cover 2</div>
      <div>
        <div class="text">
          <p><a href="#" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, tempora.">Lorem</a> ipsum dolor sit amet, <a href="#" data-toggle="tooltip" title="Some tooltip text!">consectetur adipisicing</a> <a href="#" data-toggle="tooltip" title="Some tooltip text!">elit</a>. Commodi optio, quidem earum eius aliquid nostrum cupiditate necessitatibus iure laudantium. Deserunt!</p>
          <p>Accusantium, consequatur. <a href="#" data-toggle="tooltip" title="Some tooltip text!">Voluptas</a> animi, perferendis aspernatur corporis ea ipsum esse! <a href="#" data-toggle="tooltip" title="Some tooltip text!">Asperiores ipsa consequatur nemo accusantium quibusdam</a> impedit quae, amet explicabo.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi odit placeat doloribus corrupti dolorem magnam possimus ipsa repudiandae, tenetur neque.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, similique sit ea natus aperiam. Aut dignissimos impedit, tenetur nisi delectus exercitationem. Necessitatibus rerum eum vel libero, impedit voluptates hic dolore. Asperiores iusto accusantium mollitia debitis, itaque quaerat veritatis dolores consequatur expedita omnis error dolorem facilis sequi tempora similique possimus corporis.</p>
          <p>Dolorem sit recusandae iste temporibus repellat, ut maiores quia facere laboriosam quisquam porro, alias, beatae explicabo, voluptates incidunt dolor excepturi. Ea, porro, minima! Iste nesciunt ratione sapiente, corrupti, vero, rerum aut amet perferendis numquam soluta perspiciatis tenetur, voluptas praesentium quaerat nemo itaque accusamus aliquam magni molestias inventore? Asperiores dicta, dignissimos.</p>
          <p>In dolorem sit beatae necessitatibus dolore molestiae quos voluptatibus sunt adipisci repellat, temporibus, vel inventore, cumque veniam laborum neque quas, sapiente. Quod quibusdam placeat dolorem, aliquid, impedit odio provident nulla recusandae facere ipsum esse, at ea totam quasi qui. Aspernatur nobis, quisquam nesciunt veritatis distinctio sint aperiam, suscipit iure quis.</p>
        </div>
      </div>
      <div>This is the page 2</div>
      <div>This is the page 3</div>
      <div>the end</div>
    </div>
  </section>
{% endblock %}

{% block extraScripts %}
<script type="text/javascript" src="{{ url_for('static', filename='plugins/wow_book/wow_book.min.js') }}"></script>
{% endblock %}
