.is-book {
  #content {
    section {
      &.book {
        a {
          &[data-toggle="tooltip"] {
            text-decoration: none;
            border-bottom: 1px #000 dotted;
            cursor: help;
          }
        }

        .tooltip {
          &.top {
            padding: 0;

            .tooltip-arrow {
              bottom: auto;
              top: 100%;
            }
          } //end .is-book #content section.book .tooltip.top

          &.bottom {
            padding: 0;

            .tooltip-arrow {
              top: auto;
              bottom: 100%;
            }
          } //end .is-book #content section.book .tooltip.bottom
        } //end .is-book #content section.book .tooltip

        .wowbook-page-content {
          padding: $spacingXL;

          .text {
            user-select: initial;
          }
        }
      } //end .is-book #content section.book
    } //end .is-book #content section
  } //end .is-book #content


  // Mobile
  @media (max-width: $screen-xs-max) {
    .wowbook-toolbar {
      display: none !important;
    }

    #content {
      section {
        &.book {
          #mybook {
            display: none;
          }
        } //end .is-book #content section.book
      } //end .is-book #content section
    } //end .is-book #content
  } //end Mobile
  // Tablet +
  @media (min-width: $screen-sm-min) {
    .wowbook-toolbar {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
    }

    #page {
      padding-top: $bookToolbarHeight + $grid-padding;
    }

    #content {
      section {
        &.book {
          > .content {
            display: none;
          }
        } //end .is-book #content section.book
      } //end .is-book #content section
    } //end .is-book #content
  } //end Tablet +
  // Tablet, Narrow
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    #siteHeader {
      display: none;
    }

    #content {
      section {
        &.book {
          @include stretch($offset-top: ($bookToolbarHeight + $grid-padding), $offset-right: $grid-padding, $offset-bottom: ($footerHeight + $grid-padding), $offset-left: $grid-padding);

          position: fixed;
          z-index: 500;
        } //end .is-book #content section.book
      } //end .is-book #content section
    } //end .is-book #content

    #siteFooter {
      @include stretch-x();

      position: fixed;
      bottom: 0;
      z-index: 10000;
    } //end #siteFooter
  } //end Tablet, Narrow
  // Wide +
  @media (min-width: $screen-lg-min) {
    #content {
      section {
        &.book {
          height: $bookHeight;
        } //end .is-book #content section.book
      } //end .is-book #content section
    } //end .is-book #content
  } //end Wide +
} //end .is-book



// -- MAIN STORY ----------------------------------

.is-book.is-main-story {

} //end .is-book.is-main-story



// -- SIDE STORIES ----------------------------------

.is-book.is-side-story {

} //end .is-book.is-side-story
